.heading{
    color: white;
    margin-left: 1rem;
    display: inline-block;
}
.navigation{
 
  display: inline-block;
  margin-left: 57rem;
  color: white;
}
.header{
    margin-left: 12rem;
    width: 70rem;
    height: 4rem;
    background-color: yellow;
}
span{
    padding: 1rem;
}
